.button
{
    color: azure;
}

.MuiButtonBase-root-27 MuiButton-root-1 MuiButton-text-3 MuiButton-textPrimary-4 MuiButton-flat-6 MuiButton-flatPrimary-7 button{
    border: 1px solid rgba(0, 0, 0, 0.23);
    padding: 5px 16px;
}