* {
  box-sizing: border-box;
  font-family: sans-serif;
}

html,
body,
#root {
  padding: 0;
  margin: 0;
  height: 100%;
  background-image: url("../src/assets/george-pagan-iii-624417-unsplash.jpg");

}
